:root{
    --softpink: #FFC0CB;
    --pastelBlue: #AEC6CF;
    --lavender: #E6E6FA;
    --gold: #FFD700;
    --offWhite: #FFF8E7;
    --deepPurple: #9370DB;
    --duskyRose: #DAA520;
    --black : #000000;
    --bg-envelope-color: #f5edd1;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
}

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--offWhite);
}

.navbar{
    position: sticky;
    top: 100%;
    left: 0;
    width: 100%;
    color: var(--softpink);
    text-align: center;
    padding: 10px 0;
    font-family: 'Playfair display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
   
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar a{
    font-size: 1.1rem;
    text-align: center;  
    text-decoration: none;
    color: var(--deepPurple);
    font-family: 'Playfair display', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lavender);
    color: #fff;
    font-family: 'Playfair display', sans-serif;
    padding: 20px 0;
    z-index: 1;
}

.navbar li{
    margin: 0 20px;
}

.header p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--black);
    z-index: 2;
}

h1{
    margin: 0%;
    padding: 0%;
    color: var(--deepPurple);
    font-size: 12em;
    font-family: 'Playfair Display', sans-serif;
}

h1 span{
    display: table-cell;
    margin: 20px;
    padding: 2rem;
    animation: animate 3s ease infinite;
}

h1 span:nth-child(1)
{
    animation-delay: 0s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.3s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.6s;
}
h1 span:nth-child(4)
{
    animation-delay: 0.9s;
}
h1 span:nth-child(5)
{
    animation-delay: 1.2s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.6s;
}


@keyframes animate{
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #ff9d00,
        0 0 20px #9370DB,
        0 0 400px #ff9d00,
        0 0 80px #ff9d00,
        0 0 120px #ff9d00,
        0 0 200px #ff9d00,
        0 0 300px #ff9d00,
        0 0 400px #ff9d00;
    }

    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}